<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>
  <%= link_to "See chef", chef_restaurant_path(@restaurant) %>
  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>

<div class="mt-4">
  <h2>Reviews</h2>
  <%= link_to 'Create review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary'  %>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= review.content %> |
          <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M216,48H176V40a24.1,24.1,0,0,0-24-24H104A24.1,24.1,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM112,168a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm0-120H96V40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8Z"></path></svg>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
